<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script
      src="https://kit.fontawesome.com/f7b32eaac7.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    {% if user.is_authenticated %}
      <p>{{user.username}}</p>
      <a href="{% url 'accounts:logout' %}">Logout</a>
      <a href="{% url 'posts:create' %}">Write</a>
    {% else %}
      <a href="{% url 'accounts:signup' %}">Signup</a>
      <a href="{% url 'accounts:login' %}">Login</a>
    {% endif %}
    {% block body %}
    {% endblock %}
  </body>
</html>
